body{
    margin:0;
    padding:0;
    background-color: #F8F8FF;
}

header{
    width: 100%;
    height: 100px;
    background-color:#252426;
    position: fixed;
    top: 0;
}

nav{
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
}

.logo{
    width: 250px;
    height:100px;
    position: absolute;
    left: 3%;
    top: 0;
}

.logo img{
    max-width: 100%;
    height:auto;
}

.navbar{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar ul{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar li{
    list-style: none;
}

.navbar li a {
    color:#F8F8FF;
    font-size:22px;
    text-decoration: none;
}

.navbar li a:hover {
    color:#BFA58E;
    text-decoration: none;
    transition: all ease 0.3s;
}

footer{
    width: 100%;
    height:100px;
    background-color:#BFA58E;
    position:absolute;
    bottom: 0;
}

.container{
    position: relative;
    top: 200px;
    width:60%;
    height: auto;
    margin:auto;
}

.contact-form{
    width:80%;
    height: auto;
    background:#BFA58E;
    margin:auto;
    border-radius: 10px;
    padding: 20px 0px;
}

.contact-form label{
    width: 100%;
    color:#F8F8FF;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-form input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.contact-form textarea{
    width: 100%;
    height: 200px;
    border:none;
    border-radius: 10px;
}

.form-name{
    width:80%;
    height:80px;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px auto;
}

.form-mail{
    width:80%;
    height:80px;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px auto;
}

.form-message{
    width:80%;
    height:150px;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px auto;
}

.form-submit{
    width:80%;
    height:40px;
    margin: 40px auto 20px auto;
}

.form-submit input{
    width:100px;
    text-transform: uppercase;
    display:block;
    float: right;
    cursor: pointer;
    background:#F8F8FF;
    border: 2px solid #F8F8FF;
    color:#BFA58E;
}

.form-submit input:hover{
    background:#BFA58E;
    color:#F8F8FF;
}

.presentation{
    position: relative;
    top: 200px;
    width:60%;
    height: auto;
    margin:auto;
}